
# @strapi-community/dockerize variables 

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi123
NODE_ENV=development
DATABASE_CLIENT=postgres
# @strapi-community/dockerize end variables 
